#mainContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    font-family: 'Oswald', sans-serif;
}

.actionButton {
    background-color: brown;
    border: 0px;
    padding: 8px 15px;
    cursor: pointer;
}

#topBanner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 5px;
}

#searchContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#productsGrid{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}

.productItem {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.itemName {
    font-weight: bold;
}

.outStock {
    color: red;
}