#registrationContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
}

.header{
    text-align: center;
}

.input{
    padding: 10px 300px 5px 5px;
}

.actionButtonReg {
    background-color: brown;
    border: 0px;
    padding: 8px 15px;
    cursor: pointer;
    color: white;
    margin-top: 10px;
    margin-right: 5px;
}