@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

#mainContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    font-family: 'Oswald', sans-serif;
  }

  .error{
    color:red;
  }
  
  
  
  
  
  
  