.itemContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.itemDescription {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    inline-size: 150px;
    overflow-wrap: break-word;
}

.bold {
    font-weight: bold;
 }